In [ ]:
introduction to tuple datatype:

In [ ]:
Definition: An Immutable list is called as tuple.

In [ ]:
how do we define a tuple? ----> () tehcnical term: Paranthesis.

In [ ]:
Eg:

In [3]:
dimensions = (200,500)
print(dimensions)

(200, 500)

In [5]:
type(dimensions)

tuple

In [ ]:
Req: change the dimensions 200 to 250?

In [6]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [9]:
dimensions = (250,50)

print(dimensions)

(250, 50)

In [10]:
print(dimensions)

(250, 50)

In [11]:
print(dimensions[1])

50

In [14]:
students = ('mahesh','suresh','ramesh','mohan','sohan','rohan','dhanshukh','manshukh')

In [15]:
print(students)

('mahesh', 'suresh', 'ramesh', 'mohan', 'sohan', 'rohan', 'dhanshukh', 'manshukh')

In [17]:
for x in students:
    print(x)

mahesh
suresh
ramesh
mohan
sohan
rohan
dhanshukh
manshukh

In [18]:
print(students[5])

rohan

In [20]:
students[3]

'mohan'

In [21]:
students[3] = 'varun'  #

TypeError: 'tuple' object does not support item assignment

In [22]:
students.insert(3,'mushkan')

AttributeError: 'tuple' object has no attribute 'insert'